    #A52A2A {
        background-color: #a52a2a;
        width :100px;
        height: 50px;
    }

    #\30 0BFFF {
        background-color: #00bfff;
        width: 100px;
        height: 50px;
    }

    #\38 A2BE2 {
        background-color: #8a2be2;
        width: 100px;
        height: 50px;
    }

    #FFD700 {
        background-color: #ffd700;
        width: 100px;
        height: 50px;
    }

    #FF8C00 {
        background-color: #ff8c00;
        width: 100px;
        height: 50px;
    }
    
    #\36 B8E23 {
        background-color: #6b8e23;
        width: 100px;
        height: 50px;
    }